name: post-merge

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - .editorconfig
      - .github/aws-oidc-provider/**
      - .github/dependabot.yml
      - .github/workflows/delete-deployment.yaml
      - .github/workflows/error-handler.yaml
      - .github/workflows/pre-commit.yml
      - .github/workflows/pre-merge-checks.yml
      - .gitignore
      - .gitlint
      - .pre-commit-config.yaml
      - .prettierrc
      - .secrets.baseline
      - CODEOWNERS
      - dev-deploy.sh
      - run-acceptance-tests.sh

permissions:
  contents: read
  id-token: write
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      acceptance-tests-changed: ${{ steps.filter.outputs.acceptance-tests }}
    steps:
      - uses: actions/checkout@v6

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            acceptance-tests:
              - '.github/workflows/publish-test-image.yml'
              - 'tests/acceptance/**'
              - 'cucumber.json'
              - 'tsconfig.json'
              - 'package.json'
              - 'package-lock.json'

  build:
    uses: ./.github/workflows/build.yml
    needs: detect-changes
    with:
      artifact-name: built-code
      aws-region: eu-west-2
    permissions:
      contents: read
      packages: read

  run-tests:
    uses: ./.github/workflows/test.yml
    needs: detect-changes
    permissions:
      contents: read
      packages: read
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  run-pact-tests:
    uses: ./.github/workflows/pact-tests.yml
    permissions:
      contents: read
      packages: read

  preview-main:
    uses: ./.github/workflows/deploy-to-aws.yml
    needs:
      - build
      - run-tests
      - run-pact-tests
    permissions:
      id-token: write
      contents: read
    secrets:
      aws-role-arn: ${{ secrets.GHA_AWS_ROLE_ARN }}
      aws-s3-bucket: ${{ secrets.GHA_SAM_DEPLOYMENT_BUCKET }}

  acceptance-test:
    uses: ./.github/workflows/acceptance-tests.yml
    needs:
      - preview-main
    permissions:
      id-token: write
      contents: read
    with:
      stack-name: ${{ needs.preview-main.outputs.stack-name }}
    secrets:
      aws-role-arn: ${{ secrets.GHA_AWS_ROLE_ARN }}

  publish-test-image:
    uses: ./.github/workflows/publish-test-image.yml
    needs:
      - acceptance-test
      - detect-changes
    if: needs.detect-changes.outputs.acceptance-tests-changed == 'true'
    permissions:
      contents: read
      id-token: write
      packages: read
    with:
      environment: build
    secrets:
      aws-role-arn: ${{ secrets.GHA_AWS_ROLE_ARN }}
      ecr-repository: ${{ secrets.TEST_IMAGE_ECR_REPOSITORY }}

  publish:
    uses: ./.github/workflows/publish.yml
    needs:
      - publish-test-image
      - acceptance-test
    if: |
      always() &&
      (needs.publish-test-image.result == 'success' || needs.publish-test-image.result == 'skipped') &&
      (needs.acceptance-test.result == 'success')
    permissions:
      contents: read
      id-token: write
    with:
      artifact-name: built-code
      aws-region: eu-west-2
    secrets:
      aws-role-arn: ${{ secrets.GHA_AWS_ROLE_ARN }}
      sam-s3-bucket: ${{ secrets.GHA_SAM_DEPLOYMENT_BUCKET }}
      signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
