name: publish

on:
  workflow_call:
    inputs:
      aws-region:
        description: AWS Region to deploy
        default: eu-west-2
        required: false
        type: string
      artifact-name:
        description: Build artifact to download and publish
        default: built-code
        required: false
        type: string
    secrets:
      aws-role-arn:
        description: >
          The Amazon Resource Name (ARN) of the role to assume. Use the provided credentials to assume an IAM role and
          configure the Actions environment with the assumed role credentials rather than with the provided credentials.
        required: true
      sam-s3-bucket:
        description: The name of the artifact S3 bucket
        required: true
      signing-profile-name:
        description: The name of the Signing Profile. This should be unset in dev environments
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clone.
          
      - name: Get distribution artifact
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}

      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.aws-role-arn }}
          aws-region: ${{ inputs.aws-region }}

      - name: Upload SAM application
        uses: govuk-one-login/devplatform-upload-action@abbf25e43a88b3512b1a43621f9aef4cbea1b648 # pin@v3.9.4
        with:
          artifact-bucket-name: ${{ secrets.sam-s3-bucket }}
          signing-profile-name: ${{ secrets.signing-profile-name }}
          working-directory: .
          template-file: .aws-sam/build/template.yaml
